.env
.bash_history
.bash_logout
.bashrc
.profile
.lesshst
.sudo_as_admin_successful
.cache/
.local/
.ssh/
.claude/
.claude.json
todoenv/
todoproject/__pycache__/
todoproject/**/__pycache__/
todoproject/db.sqlite3
todoproject/staticfiles/
*.pyc
